QWERTY123/XSDs/AmericanFootballHeadToHeadGeneric.xsd

<xs:schema id="AmericanFootballHeadToHeadSchema" xmlns="" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:msdata="urn:schemas-microsoft-com:xml-msdata">

	<xs:include schemaLocation="GeneralEvent.xsd" />
	<xs:simpleType name="AmericanFootballH2HScore">
		<xs:restriction base="xs:nonNegativeInteger">
			<xs:minInclusive value="3"/>
			<xs:maxInclusive value="63"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="AmericanFootballH2HResultBase">
		<xs:attribute name="Home" type="AmericanFootballH2HScore" use="required" />
		<xs:attribute name="Away" type="AmericanFootballH2HScore" use="required" />
	</xs:complexType>
	
	<xs:complexType name="BoardPriceAmericanFootballH2HEventType">
		<xs:complexContent>	
			<xs:extension base="EventCardAmericanFootballH2HEventType"/>	  
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="EventCardAmericanFootballH2HEventType">
		<xs:complexContent>
			<xs:extension base="EventType">	  
				<xs:sequence>					
					<xs:element name="Market" type="EventCardEventMarketSelection" minOccurs="1" maxOccurs="unbounded"/>
					<xs:element name="PartialMarket" type="EventCardEventPartialMarket" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
				<xs:attribute name="MeetingName" type="xs:string" use="required" /> 	  
				<xs:attribute name="HomeTeam" type="xs:string" use="required" />
				<xs:attribute name="AwayTeam" type="xs:string" use="required" />
				<xs:attribute name="Details" type="xs:string" use="required" />
				<xs:attribute name="HomeUsesAlternateKit" type="NumberBool" use="required" />
				<xs:attribute name="AwayUsesAlternateKit" type="NumberBool" use="required" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="ResultAmericanFootballH2HEventType">
		<xs:complexContent>
			<xs:extension base="GeneralEventType">	  
				<xs:sequence> 	 
					<xs:element name="Result" type="AmericanFootballH2HResultBase" minOccurs="1" maxOccurs="1"/> 
					<xs:element name="Market" type="MarketResult" minOccurs="1" maxOccurs="unbounded"/>
					<xs:element name="PartialMarket" type="PartialMarketResult" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>