QWERTY123/XSDs/EventDuration.xsd.html

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="EventDurationSchema" xmlns="" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:msdata="urn:schemas-microsoft-com:xml-msdata">
	<xs:include schemaLocation="GeneralEvent.xsd" />
	
	<xs:complexType name="EventDurationType">
		<xs:complexContent>
			<xs:extension base="GeneralEventType">
				<xs:attribute name="NECDStartTime" type="xs:dateTime" use="required" />
				<xs:attribute name="NECDDurationS" type="xs:nonNegativeInteger" use="required" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>