QWERTY123/XSDs/RushFootballGeneric.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="RushFootballEventSchema" xmlns="" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:msdata="urn:schemas-microsoft-com:xml-msdata">

	<xs:include schemaLocation="FootballGeneric.xsd" />

	<xs:complexType name="BoardPriceRushFootballEventType">
		<xs:complexContent>	
			<xs:extension base="EventCardRushFootballEventType"/>	  
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="EventCardRushFootballEventType">
		<xs:complexContent>
			<xs:extension base="EventCardFootballEventType"> 
				<xs:attribute name="MaxClipsInMatch" use="optional">
					<xs:simpleType>
						<xs:restriction base="xs:nonNegativeInteger">
							<xs:minInclusive value="4"/>
							<xs:maxInclusive value="8"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:attribute>		
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="ResultRushFootballEventType">
		<xs:complexContent>
			<xs:extension base="ResultFootballEventType"/>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>